@font-face {
    font-family: Avenir;
    src: url('../../assets/font-family/AvenirLTStd-Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/font-family/AvenirLTStd-Roman.otf');
    font-weight: normal;
    font-style: normal;
}